<footer id="footer1" class="kode-parallax kode-dark-overlay kode-bg-pattern">
  <!--Footer Medium-->
  <div class="footer-medium">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="about-widget">
            <h3>About Kickoff</h3>
            <ul class="kode-form-list">
              <li><i class="fa fa-home"></i> <p><strong>Address:</strong> 805 omnis iste natus error.</p></li>
              <li><i class="fa fa-phone"></i> <p><strong>Phone:</strong> 111 8756 22  777 4456 112</p></li>
              <li><i class="fa fa-envelope-o"></i> <p><strong>Email:</strong> Info@sportyleague.com</p></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="widget widget-flickr kode-gallery-pretty">
            <h3>Flickr</h3>
            <ul>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-3.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-3.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-1.jpg"></a></li>
              <li><a data-gal="prettyphoto" href="extra-images/widgetgallery-2.jpg"><img alt="" src="extra-images/widgetgallery-2.jpg"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-us-widget">
            <h3>Connect with us</h3>
            <p>Follow us to stay in the loop on what’s<br>
            Sed ut perspiciatis unde omnis iste natus<br> error sit Sed ut perspiciatis unde omnis iste<br> natus error sit</p>
            <ul class="social-links1">
              <li>
                <a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="youtube-bg1"><i class="fa fa-youtube"></i></a>
              </li>
              <li>
                <a href="#" class="linkedin-bg1"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer Medium End-->

  
    </footer>
    <!--// Contact Footer //-->

    <div class="kode-bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>©2015 KickOff. All Right Reserved</p>
          </div>
          <div class="col-md-6">
            <a href="#" id="kode-topbtn" class="thbg-colortwo"><i class="fa fa-angle-up"></i></a>
          </div>
        </div>
      </div>      </div>
<div class="clearfix clear"></div>
  </div>
  <!--// Wrapper //-->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header thbg-color">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login To Your Account</h4>
        </div>
        <div class="modal-body">
          <form class="kode-loginform">
            <p><span>User Name</span> <input type="text" placeholder="User Name"></p>
            <p><span>Password</span> <input type="password" placeholder="Password"></p>
            <p><label><input type="checkbox"><span>Remember Me</span></label></p>
            <p class="kode-submit"><a href="#">Lost Your Password</a> <input class="thbg-colortwo" type="submit" value="Sign in"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header thbg-color">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <form class="kode-loginform">
            <p><span>Email</span> <input type="text" placeholder="Email"></p>
            <p><span>Password</span> <input type="password" placeholder="Password"></p>
            <p><span>Retype Password</span> <input type="password" placeholder="Retype Password"></p>
            <p><label><input type="checkbox"><span>Remember Me</span></label></p>
            <p class="kode-submit"><a href="#">Lost Your Password</a> <input class="thbg-colortwo" type="submit" value="Sign Up"></p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.countdown.js"></script>  
  <script src="js/waypoints-min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/bootstrap-progressbar.js"></script>
<script src="js/jquery.accordion.js"></script>
<script src="js/jquery.circlechart.js"></script>
<script src="js/jquery.prettyphoto.js"></script>
<script src="js/kode_pp.js"></script>
  <script src="js/functions.js"></script>