<%- include('partials/header.ejs') %>


<div class="loader-bg">
    <div class="loader-bar"></div>
</div>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <%- include('partials/navbar.ejs') %>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <%- include('partials/sidebar.ejs') %>

                <div class="pcoded-content">
<h1>Cette page est introuvable</h1>
                

                
                </div>


            </div>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs') %>

</body>

</html>