<%- include('partials/header.ejs') %>


<div class="loader-bg">
    <div class="loader-bar"></div>
</div>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">


                <div class="pcoded-content">

                    <div class="page-header card">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="feather icon-clipboard bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h5>Basic Form Inputs</h5>
                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class=" breadcrumb breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Form Components</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#!">Basic Form Inputs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pcoded-inner-content">

                        <div class="main-body">
                            <div class="page-wrapper">

                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Basic Form Inputs</h5>
                                                    <span>Add class of <code>.form-control</code> with
                                                        <code>&lt;input&gt;</code> tag</span>
                                                </div>
                                                <div class="card-block">
                                                    <h4 class="sub-title">Basic Inputs</h4>
                                                    <form action="" method="post" enctype="multipart/form-data">
                                                        
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Nom</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Contenu</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="content" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Ville</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="city" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Pays</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="country" class="form-control">
                                                            </div>
                                                        </div>

                                                        

                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Envoyer une photo</label>
                                                            <div class="col-sm-10">
                                                                <input name="image" type="file" class="form-control">
                                                            </div>
                                                        </div>
                                                        <button type="submit" >Ajouter un club</button>

                                                    </form>


                                                </div>
                                            </div>






                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="styleSelector">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs') %>

</body>

</html>