
		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- Jquery js-->
		<script src="/admin/js/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="/admin/plugins/bootstrap/popper.min.js"></script>
		<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="/admin/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="/admin/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="/admin/plugins/rating/jquery.rating-stars.js"></script>

		<!--Moment js-->
		<script src="/admin/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="/admin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Horizontal-menu js -->
		<script src="/admin/plugins/horizontal-menu/horizontalmenu.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="/admin/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!-- Custom scroll bar js-->
		<script src="/admin/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Owl Carousel js -->
		<script src="/admin/plugins/owl-carousel/owl.carousel.js"></script>
		<script src="/admin/plugins/owl-carousel/owl-main.js"></script>

		<!-- Rightsidebar js -->
		<script src="/admin/plugins/sidebar/sidebar.js"></script>

		<!-- Charts js-->
		<script src="/admin/plugins/chart/chart.bundle.js"></script>
		<script src="/admin/plugins/chart/utils.js"></script>

		<!--Time Counter js-->
		<script src="/admin/plugins/counters/jquery.missofis-countdown.js"></script>
		<script src="/admin/plugins/counters/counter.js"></script>

		<!--Morris  Charts js-->
		<script src="/admin/plugins/morris/raphael-min.js"></script>
		<script src="/admin/plugins/morris/morris.js"></script>

		<!-- Custom-charts js-->
		<script src="/admin/js/index1.js"></script>

		<!-- Custom js-->
		<script src="/admin/js/custom.js"></script>
	</body>
</html>